<!DOCTYPE html>
<!--suppress HtmlUnknownAnchorTarget -->
<html lang="en" ng-app="calories-manager">
<head>
    <title>{{'TITLE' | translate}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak class="ng-cloak">

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">{{'TITLE' | translate}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">{{'HOME' | translate}}</a></li>
                <li ng-show="authenticated && admin"><a href="#/users">{{'USERS' | translate}}</a></li>
                <li ng-show="authenticated"><a href="#/meals">{{'MEALS' | translate}}</a></li>
                <li ng-show="authenticated" ng-controller="home"><a href="" ng-click="logout()">{{'LOGOUT' |
                    translate}}</a></li>
                <li ng-show="!useLang()" ng-controller="TranslateController"><a class="lang" href=""
                                                                                ng-click="changeLanguage('ru')">РУ</a>
                </li>
                <li ng-show="useLang()" ng-controller="TranslateController"><a class="lang" href=""
                                                                               ng-click="changeLanguage('en')">EN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div ng-view=""></div>
    </div>
</div>

<div class="content navbar-fixed-bottom">
    <footer id="myFooter">
        <p>© 2016 Aleksandr Bogomolov
            <a href="https://twitter.com/ksandr_ua" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://ua.linkedin.com/in/aleksandr-bogomolov-081640116" class="linkedin"><i
                    class="fa fa-linkedin"></i></a>
            <a href="https://github.com/aleksandrbogomolov" class="github"><i class="fa fa-github"></i></a>
        </p>
    </footer>
</div>

<div class="modal fade" id="delete-user">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-offset-4">
                    <h4 class="modal-title">{{'ARE_YOU_SURE' | translate}}</h4>
                </div>
                <form class="form-horizontal" role="form" id="dialog-form">
                    <div class="form-group">
                        <div class="col-xs-offset-4">
                            <label for="delete-name"></label><input type="text" id="delete-name" name="delete-name"
                                                                    hidden>
                            <label for="isLogout"></label><input type="checkbox" id="isLogout" name="isLogout"
                                                                 ng-model="isLogout" hidden>
                            <button class="btn btn-danger btn-sm" ng-click="deleteUser()">{{'DELETE' | translate}}
                            </button>
                            <button class="btn btn-success btn-sm" data-dismiss="modal">{{'CANCEL' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
<script src="bower_components/angular-date-time-input/src/dateTimeInput.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/home.js"></script>
<script src="js/controllers/users.js"></script>
<script src="js/controllers/meals.js"></script>
<script src="js/translate.js"></script>

</body>
</html>
