<div class="container">
    <div class="col-md-8" style="display: inline-block">
        &nbsp;&nbsp;&nbsp;{{'HOME_DESCRIPTION' | translate}}
    </div>
    <div ng-show="!authenticated" class="col-md-3" style="display: inline-block">
        <div class="alert alert-danger" ng-show="error">
            {{'HOME_LOGIN_ERROR' | translate}}
        </div>
        <form role="form">
            <div class="form-group">
                <label for="username">{{'HOME_LOGIN_USERNAME' | translate}}:</label>
                <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"/>
            </div>
            <div class="form-group">
                <label for="password">{{'HOME_LOGIN_PASSWORD' | translate}}:</label>
                <input type="password" class="form-control" id="password" name="password"
                       ng-model="credentials.password"/>
            </div>
            <div class="form-horizontal">
                <button class="btn btn-success" type="submit" ng-click="login()">{{'HOME_LOGIN' | translate}}</button>
                <span style="font-size: large"> or </span>
                <button class="btn btn-primary" ng-click="newUserForm()">{{'HOME_SIGIN' | translate}}</button>
            </div>
        </form>
    </div>

    <div ng-show="authenticated" class="col-md-4" ng-controller="users">
        <h4>{{'HOME_WELCOME' | translate}} {{user}}!</h4>
        <div class="form-horizontal">
            <button class="btn btn-success" type="submit" ng-click="userDetails(user, false)">{{'HOME_CHANGE_ACCOUNT' |
                translate}}
            </button>
            <span style="font-size: large"> {{'HOME_OR' | translate}} </span>
            <button class="btn btn-primary" ng-click="deleteDialog(user, true)">{{'HOME_DELETE_ACCOUNT' | translate}}
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-user" ng-controller="users">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header col-md-offset-3">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="modalTitle">{{'HOME_USER_DETAILS' | translate}}</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="details-form">
                    <label for="id"></label><input type="text" id="id" name="id" hidden>
                    <label for="enabled"></label><input type="text" id="enabled" name="enabled" hidden>
                    <label for="roles"></label><input type="text" id="roles" name="roles" hidden>
                    <label for="createdDate"></label><input type="text" id="createdDate" name="createdDate" hidden>

                    <div class="form-group">
                        <label for="name" class="control-label col-xs-3">{{'HOME_USER_DETAILS_NAME' |
                            translate}}</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label col-xs-3">{{'HOME_USER_DETAILS_EMAIL' |
                            translate}}</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new-password" class="control-label col-xs-3">{{'HOME_USER_DETAILS_PASSWORD' |
                            translate}}</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="new-password" name="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="caloriesPerDay" class="control-label col-xs-3">{{'HOME_USER_DETAILS_CALORIES' |
                            translate}}</label>

                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="caloriesPerDay" name="caloriesPerDay">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button class="btn btn-primary" ng-click="submitUser()">{{'HOME_USER_DETAILS_SAVE' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
