<div class="container">
    &nbsp;&nbsp;&nbsp;Java Enterprise проект с
    регистрацией/авторизацией и интерфейсом на основе ролей (USER, ADMIN).
    Администратор может создавать/редактировать/удалять/пользователей, а пользователь - управлять своим
    профилем и данными (день, еда, калории) через UI интерфейс с базовой авторизацией.
    Возможна фильтрация данных по датам и времени, при этом цвет записи таблицы еды зависит от того, превышает ли
    сумма калорий за день норму (редактируемый параметр в профиле пользователя).
</div>