<!--suppress ALL -->
<div class="container">
    <h4>{{'MEALS_FILTER_TITLE' | translate}}</h4>
    <form class="form-inline" id="filter-form">
        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                <label for="startDate" class="control-label">{{'MEALS_START_DATE' | translate}}</label>
                <div>
                    <input name="startDate" id="startDate" class="form-control"
                           data-ng-model="startDate" data-date-time-input="YYYY-MM-DD"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="startDate"
                                data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdown3' }"/>
            </ul>
        </div>

        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown5" role="button" data-toggle="dropdown">
                <label for="endDate" class="control-label">{{'MEALS_END_DATE' | translate}}</label>
                <div>
                    <input name="endDate" id="endDate" class="form-control"
                           data-ng-model="endDate" data-date-time-input="YYYY-MM-DD"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="endDate"
                                data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdown5' }"/>
            </ul>
        </div>

        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
                <label for="startTime" class="control-label">{{'MEALS_START_TIME' | translate}}</label>
                <div>
                    <input name="startTime" id="startTime" class="form-control"
                           data-ng-model="startTime" data-date-time-input="HH:mm"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="startTime"
                                data-datetimepicker-config="{ startView:'hour', minView:'minute', dropdownSelector: '#dropdown4' }"/>
            </ul>
        </div>

        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown6" role="button" data-toggle="dropdown">
                <label for="endTime" class="control-label">{{'MEALS_END_TIME' | translate}}</label>
                <div>
                    <input name="endTime" id="endTime" class="form-control"
                           data-ng-model="endTime" data-date-time-input="HH:mm"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="endTime"
                                data-datetimepicker-config="{ startView:'hour', minView:'minute', dropdownSelector: '#dropdown6' }"/>
            </ul>
        </div>

        <div class="form-group">
            <br>
            <button class="btn btn-default form-control" ng-click="getFiltered()">{{'MEALS_FILTER' | translate}}
            </button>
        </div>

        <div class="form-group">
            <br>
            <button class="btn btn-default form-control" ng-click="clearFilter()">{{'MEALS_CLEAR' | translate}}</button>
        </div>

        <div class="form-group pull-right">
            <label for="create" class="control-label"></label>
            <div>
                <button id="create" class="btn btn-success" ng-click="mealDetails(null, true)">{{'MEALS_CREATE' |
                    translate}}
                </button>
            </div>
        </div>
    </form>
</div>
<br>

<div class="container">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="col-md-6 table">
        <thead>
        <tr>
            <th>№</th>
            <th st-sort="description">{{'MEALS_DESCRIPTION' | translate}}</th>
            <th st-sort="dateTime">{{'MEALS_DATE_TIME' | translate}}</th>
            <th st-sort="calories">{{'MEALS_CALORIES' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td ng-class="{exceed: row.exceed}">{{$index + 1}}</td>
            <td ng-class="{exceed: row.exceed}">{{row.description}}</td>
            <td ng-class="{exceed: row.exceed}">{{row.dateTime}}</td>
            <td ng-class="{exceed: row.exceed}">{{row.calories}}</td>
            <td ng-class="{exceed: row.exceed}"><a class="btn btn-info btn-sm pull-right"
                                                   ng-click="mealDetails(row, false)">{{'USERS_TABLE_EDIT' |
                translate}}</a></td>
            <td ng-class="{exceed: row.exceed}"><a class="btn btn-danger btn-sm pull-right"
                                                   ng-click="deleteMeal(row.id)">{{'USERS_TABLE_DELETE' |
                translate}}</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="edit-meal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header col-md-offset-3">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="modalTitle">{{'MEALS_INFO' | translate}}</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="details-form" novalidate>
                    <label for="id"></label><input type="text" id="id" name="id" hidden>

                    <div class="form-group">
                        <label for="description" class="control-label col-xs-3">{{'MEALS_DESCRIPTION' |
                            translate}}</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="description" name="description"
                                   ng-model="description" required>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                            <div class="form-group">
                                <label for="dateTime" class="control-label col-xs-3">{{'MEALS_DATE_TIME' |
                                    translate}}</label>
                                <div class="col-xs-9">
                                    <input type="text" name="dateTime" id="dateTime" class="form-control"
                                           data-ng-model="dateDropDownInput" data-date-time-input="YYYY-MM-DD HH:mm"
                                           required/>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dateDropDownInput"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="calories" class="control-label col-xs-3">{{'MEALS_CALORIES' | translate}}</label>

                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="calories" name="calories" ng-model="calories"
                                   required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button ng-click="submitMeal()" class="btn btn-primary">{{'HOME_USER_DETAILS_SAVE' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
