<!--suppress ALL -->
<div class="container">
    <h4>Filter meals</h4>
    <form class="form-inline" id="filter-form">
        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                <label for="startDate" class="control-label">Start date</label>
                <div>
                    <input name="startDate" id="startDate" class="form-control"
                           data-ng-model="startDate" data-date-time-input="YYYY-MM-DD"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="startDate"
                                data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdown3' }"/>
            </ul>
        </div>

        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown5" role="button" data-toggle="dropdown">
                <label for="endDate" class="control-label">End date</label>
                <div>
                    <input name="endDate" id="endDate" class="form-control"
                           data-ng-model="endDate" data-date-time-input="YYYY-MM-DD"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="endDate"
                                data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#dropdown5' }"/>
            </ul>
        </div>

        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
                <label for="startTime" class="control-label">Start time</label>
                <div>
                    <input name="startTime" id="startTime" class="form-control"
                           data-ng-model="startTime" data-date-time-input="HH:mm"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="startTime"
                                data-datetimepicker-config="{ startView:'hour', minView:'minute', dropdownSelector: '#dropdown4' }"/>
            </ul>
        </div>

        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown6" role="button" data-toggle="dropdown">
                <label for="endTime" class="control-label">End time</label>
                <div>
                    <input name="endTime" id="endTime" class="form-control"
                           data-ng-model="endTime" data-date-time-input="HH:mm"/>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="endTime"
                                data-datetimepicker-config="{ startView:'hour', minView:'minute', dropdownSelector: '#dropdown6' }"/>
            </ul>
        </div>

        <div class="form-group">
            <br>
            <button class="btn btn-default form-control" ng-click="getFiltered()">Filter</button>
        </div>

        <div class="form-group">
            <br>
            <button class="btn btn-default form-control" ng-click="clearFilter()">Clear</button>
        </div>

        <div class="form-group pull-right">
            <label for="create" class="control-label">Add meal</label>
            <div>
                <button id="create" class="btn btn-success" ng-click="mealDetails(null, true)">Create</button>
            </div>
        </div>
    </form>
</div>
<br>

<div class="container">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="col-md-6 table">
        <thead>
        <tr>
            <th st-sort="description">Description</th>
            <th st-sort="dateTime">Date time</th>
            <th st-sort="calories">Calories</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.description}}</td>
            <td>{{row.dateTime}}</td>
            <td>{{row.calories}}</td>
            <td><a class="btn btn-info btn-sm pull-right" ng-click="mealDetails(row.id, false)">Edit</a></td>
            <td><a class="btn btn-danger btn-sm pull-right" ng-click="deleteMeal(row.id)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="edit-meal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header col-md-offset-3">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="modalTitle">Meal info</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="details-form">
                    <label for="id"></label><input type="text" id="id" name="id" hidden>

                    <div class="form-group">
                        <label for="description" class="control-label col-xs-3">Description</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                            <div class="form-group">
                                <label for="dateTime" class="control-label col-xs-3">Date time</label>
                                <div class="col-xs-9">
                                    <input type="text" name="dateTime" id="dateTime" class="form-control"
                                           data-ng-model="dateDropDownInput" data-date-time-input="YYYY-MM-DD HH:mm"/>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dateDropDownInput"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="calories" class="control-label col-xs-3">Calories</label>

                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="calories" name="calories">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button ng-click="submitMeal()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
