<!--suppress ALL -->
<div class="container">
    <h4>List of users</h4>
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="col-md-6 table">
        <thead>
        <tr>
            <th>№</th>
            <th st-sort="name">Name</th>
            <th st-sort="email">Email</th>
            <th st-sort="caloriesPerDay">Calories limit</th>
            <th st-sort="enabled">Enabled</th>
            <th st-sort="createdDate">Created date</th>
            <th st-sort="roles">Roles</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{$index + 1}}</td>
            <td>{{row.name}}</td>
            <td>{{row.email}}</td>
            <td>{{row.caloriesPerDay}}</td>
            <td><input type="checkbox" ng-checked="row.enabled" ng-click="changeEnabled(row)"/></td>
            <td>{{row.createdDate}}</td>
            <td>{{row.roles}}</td>
            <td><a class="btn btn-info btn-sm" ng-click="userDetails(row)">Edit</a></td>
            <td><a class="btn btn-danger btn-sm" ng-click="deleteDialog(row.id)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="edit-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header col-md-offset-3">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="modalTitle">User info</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="details-form">
                    <label for="id"></label><input type="text" id="id" name="id" hidden>
                    <label for="enabled"></label><input type="text" id="enabled" name="enabled" hidden>
                    <label for="password"></label><input type="password" id="password" name="password" hidden>

                    <div class="form-group">
                        <label for="name" class="control-label col-xs-3">Name</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label col-xs-3">Email</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="caloriesPerDay" class="control-label col-xs-3">Calories per day</label>

                        <div class="col-xs-9">
                            <input type="number" class="form-control" id="caloriesPerDay" name="caloriesPerDay">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="createdDate" class="control-label col-xs-3">Created date</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="createdDate" name="createdDate" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="roles" class="control-label col-xs-3">Role</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="roles" name="roles">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button class="btn btn-primary" ng-click="submitUser()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-user">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-offset-4">
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <form class="form-horizontal" role="form" id="dialog-form">
                    <div class="form-group">
                        <div class="col-xs-offset-4">
                            <label for="delete-id"></label><input type="text" id="delete-id" name="delete-id" hidden>
                            <button class="btn btn-danger btn-sm" ng-click="deleteUser()">Delete</button>
                            <button class="btn btn-success btn-sm" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
