/*Navbar*/

.navbar {
    background-color: #383737;
}

.navbar-header {
    -webkit-transform-style: preserve-3d;

    -moz-transform-style: preserve-3d;

    transform-style: preserve-3d;

    height: 50px;
}

.navbar-nav > li > .dropdown-menu {
    z-index: 9999;
}

/*Footer*/

#myFooter {
    background-color: #383737;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter p {
    margin: 10px;
    color: #ccc;
}

#myFooter a {
    font-size: 22px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter a:hover {
    text-decoration: none;
    color: #0077e2;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
