/*Form*/

input.ng-invalid.ng-touched {
    background-color:pink;
}

input.ng-valid.ng-touched {
    background-color:lightgreen;
}

/*Navbar*/

.navbar {
    background-color: #383737;
}

#navbar a.lang {
    color: #9acfea;
}

#navbar a.lang:hover {
    color: #00b3ee;
}

/*Footer*/

#myFooter {
    background-color: #383737;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter p {
    margin: 10px;
    color: #ccc;
}

#myFooter a {
    font-size: 22px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter a:hover {
    text-decoration: none;
    color: #0077e2;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/*Smart table*/

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.dropdown a {
    color: black;
}

.dropdown a:hover {
    color: black;
}

.exceed {
    background-color: #ffddb4;
}
